{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/nobody.jpg' %}" width="75%">
        </div>
        <div class="col-8">
            <h2>{{ about.title }}Geza Csosz</h2>
            {{ about.content | safe }}Csosz is a Hungarian-British fine artist and photographer.[3] His work often features his family as central subjects, with irony and banality. 
            His works often explore themes like modern slavery, existence, and time, and he has exhibited his art internationally, including in Spain, Egypt, Hungary, and France. In addition to his photography, Csosz has also produced several films and authored books that reflect his artistic vision and thematic concerns.
            One aspect of Csosz's work is his project "Family World," which presents an idyllic and poetic view of life through the lens of his family experiences. This project has a warm, playful, and human-scale world with a sense of childhood wonder and innocence, while also hinting at the underlying complexities and challenges of adult life.
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
          <!-- Updated on field goes in here -->
           <p>

            Csosz's work often explores themes like modern slavery, existence, and time, blending irony and banality. His art is known for its spontaneity and emotional depth, often featuring his family as central subjects2.
            
            
            He has worked with enamel. He had exhibitions in Budapest at the Ericsson Gallery of Fine Arts Gallery,[4] and in Szeged (at the Southern Hungarian Creative House).</p>
    
          <p class="text-end"><em>Updated on: {{ about.updated_on }} 03/01/2024</em></p>
        </div>
      </div>    
</div>
{% endblock content %}